# dependencies
node_modules

# production
dist

# misc
.DS_Store
.env
npm-debug.log

# IDE - VSCode
.vscode/*
!.vscode/settings.example.json
!.vscode/tasks.example.json
!.vscode/launch.example.json
!.vscode/extensions.example.json
